.navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__link {
        font-family: PT serif;
        text-decoration: none;
        flex-direction: row;
        color: #000;
    }
}



